{
  "extends": ["parsley/esnext", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "guard-for-in": 0,
    "no-warning-comments": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./node_modules", "./src"]
      }
    }
  },
  "env": {
    "node": true
  }
}
